{
    "token": "YOUR_BOT_TOKEN_HERE",
    "disabledChannels": [],
    "disabledServers": [],
    "print": {
        "ms": 100,
        "terminal": true,
        "barSize": 20
    },
    "audio": {
        "sampleLimit": 2880000,
        "defaultSeconds": 30,
        "maximumProcessingTime": 840
    },
    "credit": {
        "message": false,
        "command": false
    },
    "ffmpeg": {
        "enable": true,
        "location": "/usr/bin/ffmpeg",
        "format": "mp3",
        "fileExtension": ".mp3",
        "bitrate": 192,
        "extra": {}
    },
    "bitDepth": 16
}
